<div class="min-h-screen bg-gray-100 flex items-center justify-center">
  <div class="w-full max-w-2xl bg-white shadow-lg rounded-lg p-6">
    <h1 class="text-2xl font-bold text-gray-800 mb-6 text-center">Informações do Veículo</h1>

  <%= render "form", question: @question %>

 
  </div>
</div>
