<!-- Sidebar -->
<div id="sidebar" class="bg-blue-600 text-white w-64 h-full transform -translate-x-full fixed z-20 transition-transform duration-300">
    <div class="p-4">
        <h2 class="text-2xl font-bold">MechanicAi</h2>
    </div>
    <!-- Avatar -->
    <% if current_user %>
        <div class="flex flex-col items-center py-4">
                <%= link_to edit_user_registration_path, class: 'relative' do %>
                    <%= image_tag current_user&.avatar_url, class: "w-24 h-24 rounded-full border-2 border-white shadow-md" %>
                <% end %>
            <p class="mt-2 text-sm font-medium">Olá, <%= current_user.name %></p>
        </div>
    <% end %>
    <!-- Navigation -->
    <ul class="space-y-2 mt-4">
        <li class="flex items-center p-4 hover:bg-blue-500">
            <svg class="w-6 h-6 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path fill="currentColor" d="M4.5 21q-.625 0-1.062-.437T3 19.5v-1.9l4-3.55V21zM8 21v-4h8v4zm9 0v-8.2L12.725 9l3.025-2.675l4.75 4.225q.25.225.375.513t.125.612V19.5q0 .625-.437 1.063T19.5 21zM3 16.25v-4.575q0-.325.125-.625t.375-.5L11 3.9q.2-.2.463-.287T12 3.525t.538.088T13 3.9l2 1.775z"/>
            </svg>
            <span>Home</span>
        </li>
        <li class="flex items-center p-4 hover:bg-blue-500">
            <svg class="w-6 h-6 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path fill="currentColor" d="m18.65 2.85l.61 3.86l3.51 1.79L21 12l1.78 3.5l-3.54 1.79l-.61 3.86l-3.89-.61l-2.77 2.76l-2.78-2.8l-3.86.64l-.62-3.89l-3.49-1.78L3 11.97L1.23 8.5l3.51-1.81l.61-3.83l3.87.64L12 .69l2.77 2.77zM9.5 7A1.5 1.5 0 0 0 8 8.5A1.5 1.5 0 0 0 9.5 10A1.5 1.5 0 0 0 11 8.5A1.5 1.5 0 0 0 9.5 7m5 7a1.5 1.5 0 0 0-1.5 1.5a1.5 1.5 0 0 0 1.5 1.5a1.5 1.5 0 0 0 1.5-1.5a1.5 1.5 0 0 0-1.5-1.5m-6.09 3L17 8.41L15.59 7L7 15.59z"/>
            </svg>
            <span>Upgrade</span>
        </li>
        <li class="flex items-center p-4 hover:bg-blue-500">
            <svg class="w-6 h-6 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 17l-5-5m0 0l5-5m-5 5h12" />
            </svg>
            <%= button_to destroy_user_session_path, data: { turbo: "false" }, method: :delete do %>
            <span>Logout</span>
            <% end %>
        </li>
    </ul>
</div>
